---
//@ts-nocheck
import financialProjections from "@data/financialProjections.json";
import DynamicIcon from "./helpers/DynamicIcon.astro";

---
<h2>{financialProjections.title}</h2>
<ul>
  {
    financialProjections.values.map((projection) => (
      <li>
        <DynamicIcon name={projection.icon} width={50} height={50} />
        <h2>{projection.title}</h2>
        <p>{projection.description}</p>
        <a href="#0">{projection.buttonText}</a>
      </li>
    ))
  }
</ul>