---
//@ts-nocheck
import DynamicImage from "@components/helpers/DynamicImage.astro";
import { Image } from "astro:assets";
import caseStudy from "@data/caseStudy.json";
const { caseName, category, date, image, buttonLabel } = caseStudy.caseDetails;

import CaseImage from "@data/images/caseimg.webp";
import StoryBoard from "@data/images/storyboard.webp";
---

<article>
  <header>
    <Image src={CaseImage} alt={caseName} width={1200} height={300} />
    <div class="case-details">
      <dl>
        <div>
          <dt>Case Name</dt>
          <dd>{caseName}</dd>
        </div>
        <div>
          <dt>Category</dt>
          <dd class="category">{category}</dd>
        </div>
        <div>
          <dt>Date</dt>
          <dd class="date">{date}</dd>
        </div>
      </dl>
      <a href="#0" class="button">{buttonLabel}</a>
    </div>
  </header>
  {
    caseStudy.sections.map((section) => (
      <section>
        {caseStudy.sections[0] === section ? (
          <h2>{section.title}</h2>
        ) : (
          <h3>{section.title}</h3>
        )}

        {Array.isArray(section.content) ? (
          <>
            {section.content.map((item) => (
              <p>{item}</p>
            ))}
          </>
        ) : (
          <p>{section.content}</p>
        )}
        {section.highlights && (
          <ul>
            {section.highlights.map((highlight) => (
              <li>{highlight}</li>
            ))}
          </ul>
        )}
        {section.image && (
          <Image
            src={StoryBoard}
            alt={section.title}
            width={600}
            height={400}
          />
        )}
      </section>
    ))
  }
</article>

<style>
  article > header {
    background-color: var(--bg-dark);
    color: var(--p-color-light);
    border-radius: 30px;
    align-items: flex-start;
    margin-top: 5rem;

    > img {
      border-radius: 25px;
    }
  }

  .case-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 53px 60px;
  }

  .case-details dl {
    display: flex;
    gap: 30px;
    gap: 100px;
  }

  .case-details dl div {
    display: flex;
    flex-direction: column;
  }

  .case-details a {
    margin-left: auto;
    align-self: center;
  }

  dt,
  dd {
    font-family: Lato;
    font-size: var(--p-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 23.6px;
    color: var(--p-color-light);
  }

  dt {
    font-style: normal;
    font-weight: 600;
    line-height: 23.2px;
  }

  a {
    display: inline-flex;
    padding: 15px 45px;
    align-items: flex-start;
    gap: 10px;
    text-decoration: none;

    border-radius: 42px;

    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
    color: var(--p-color-dark);
    background: var(--bg-yellow);
  }

  ul li {
    margin-bottom: 1rem;
  }

  h2 + p {
    margin-bottom: 3rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  h3 + p {
    margin-bottom: 1.5rem;
  }

  h3 {
    padding-bottom: 1rem;
  }

  section {
    width: 70%;
    margin: 0 auto;

    > img {
      place-self: center;
    }
  }

  h2 {
    font-family: Cabin;
    font-size: var(--h2-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: 46.08px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-family: Cabin;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 23.2px;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    color: var(--h2-color-dark);
  }

  p {
    font-family: Lato;
    font-size: var(--p-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 23.6px;
    color: var(--p-color-dark);
  }
</style>
