---
import employees from "@data/employees.json";
import { Image } from "astro:assets";
import sarah from "../data/images/sarah.webp";
import john from "../data/images/john.webp";
import daisy from "../data/images/daisy.webp";
import maya from "../data/images/maya.webp";
import ryan from "../data/images/ryan.webp";
import lilly from "../data/images/lilly.webp";
---

<section>
  <h2>Meet Our Great Team</h2>
  <p>
    Welcome to our amazing team! We are a group of passionate individuals
    dedicated to excellence and innovation. Each member brings unique skills and
    experiences, working together to achieve our goals. Join us as we embark on
    exciting projects and create lasting impacts.
  </p>
  <div class="team-members">
    <div class="description">
      <Image src={sarah} alt="Sarah" />
      <h5>{employees[0].name}</h5>
      <p>{employees[0].description}</p>
    </div>
    <div class="description">
      <Image src={john} alt="John" />
      <h5>{employees[1].name}</h5>
      <p>{employees[1].description}</p>
    </div>
    <div class="description">
      <Image src={daisy} alt="Daisy" />
      <h5>{employees[2].name}</h5>
      <p>{employees[2].description}</p>
    </div>
    <div class="description">
      <Image src={maya} alt="Maya" />
      <h5>{employees[3].name}</h5>
      <p>{employees[3].description}</p>
    </div>
    <div class="description">
      <Image src={ryan} alt="Ryan" />
      <h5>{employees[4].name}</h5>
      <p>{employees[4].description}</p>
    </div>
    <div class="description">
      <Image src={lilly} alt="Lilly" />
      <h5>{employees[5].name}</h5>
      <p>{employees[5].description}</p>
    </div>
  </div>
</section>

<style>
  section {
    display: grid;
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: hidden; /* ??? virker til at forhindre billederne ryger udenfor viewporten */
  }

  section > p,
  section > h2 {
    width: 665px;
  }

  img {
    border-radius: 20px;
    margin-top: 1rem;
  }

  .team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
    margin-top: 2rem;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  h2 {
    font-family: Cabin;
    font-size: var(--h2-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: 46.08px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  h5 {
    font-family: Cabin;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 23.2px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--h2-color-dark);
  }

  p {
    font-family: Lato;
    font-size: var(--p-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 23.6px;
    color: var(--p-color-dark);
  }

  div p,
  div h5 {
    text-align: center;
    padding-top: 0.5rem;
  }
</style>
