---
import coreValues from "@data/coreValues.json";
import ArrowIcon from "@icons/arrow--right.svg?url";
import DynamicIcon from "./helpers/DynamicIcon.astro";
---

<section class="full-bleed">
  <p class="uppercase">Growing with our Clients</p>
  <h2>{coreValues.title}</h2>
  <p>{coreValues.subtitle}</p>
  <a href="#0">{coreValues.button.text}</a>
  <ul>
    {
      coreValues.values.map((value) => (
        <li>
          <DynamicIcon
            name={value.icon}
            width={50}
            height={50}
            class="top-icon"
          />
          <h2>{value.title}</h2>
          <p>{value.description}</p>
          <div class="read-more">
            <a href="">
              Read More
              <img src={ArrowIcon} alt="arrow" />
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<style>
  h2:not(ul h2) {
    color: var(--p-color-light);
    font-size: var(--h2-font-size);
  }

  p:not(ul p) {
    color: var(--p-color-light);
    font-size: var(--p-font-size);
  }

  .uppercase {
    text-transform: uppercase;
  }

  section {
    background-color: var(--bg-dark);
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 36px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: column;
    padding: 28px 20px;
    gap: 12px;
    width: 100%;

    border-radius: 20px;
    border: 1px solid #eaeaea;

    background: #f5f5f5;
  }

  h2 {
    color: #181818;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }

  p {
    color: var(--p-color-grey);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.6px;
  }

  .read-more a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: #181818;

    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }

  /* .top-icon {
      background: black;
    } */
</style>
